*{
    padding: 5px;
    font-family:'Microsoft YaHei';
    background-color:#181818;
    font-size: 15px;
}
QCheckBox::indicator:checked{
    image: url(./css/checked_image.png);
}
QCheckBox::indicator:unchecked{
    image: url(./css/unchecked_image.png);
}
QTabBar::close-button {
    image: url(./css/close-button.png);
    subcontrol-position: right;
}
QTabBar::close-button:hover {
    image: url(./css/close-button_hover.png);
}
QTabBar::close-button:pressed {
    image: url(./css/lose-button_pressed.png);
}
QTabBar::tab {
    background-color:#121414;
    font-size: 14px;
    color: #f5f5f5; 
    padding: 5px;
    border: 1px solid #1e2228;
    font-family:'Microsoft YaHei';
    border-radius: 5px;
}
QTabBar::tab:selected{
    background-color:#424444;
}
QTabBar::tab:!selected{
    background-color:#121414;
}
QTabBar::tab:hover{
    background-color:#1b1d1d;
}
QTabWidget::pane { border: none; }
QWidget{
    background-color:#121414;
    border-radius: 5px;
}
QTabWidget{
    background-color:#121414;
    padding: 5px;
    border-radius: 5px;
}
QTextEdit{
    background-color:#181818;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #1e2228;
    font-family:'Microsoft YaHei';
    color:#f5f5f5;
}
QLabel {
    color: #f5f5f5; 
    background-color:#181a1a;
    padding: 5px;
    border: 1px solid #1e2228;
    font-family:'Microsoft YaHei';
    font-size: 14px;
}
QLineEdit{
    color: #f5f5f5; 
    background-color:#181818;
    padding: 5px;
    border: 1px solid #1e2228;
    font-family:'Microsoft YaHei';
    font-size: 14px;
}
QPushButton{
    color: #f5f5f5; 
    background-color:#1f1f1f;
    padding: 5px;
    border: 1px solid #1e2228;
    font-family:'Microsoft YaHei';
    font-size: 14px;
}
QPushButton:hover {background-color: #272727; border-color: #414141;}

QPlainTextEdit {
    color: #f5f5f5; 
    font-size: 14px;
    font-family:'Microsoft YaHei';
    background-color:#181818;
    border: 1px solid #1e2228;
    padding: 17px 10px 10px 10px;
}
QMenu {
    color: #f5f5f5;
    font-size: 14px;
    font-family:'Microsoft YaHei';
    background-color:#121414;
    padding: 5px 5px 5px 5px;
    border: 1px solid #1e2228;
    line-height: 150%;
}
QMenu::item {  
    padding: 5px 10px 5px 10px;
}
QMenu::item:selected {
    background-color: #191c21;
}
QScrollBar:vertical {
    background-color: #1e2228;
    width: 16px;
    margin: 0px;
}
QScrollBar::handle:vertical {
    background-color: #707070;
    min-height: 20px;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    border: none;
    background: none;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}
